{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
	<!-- nanti link nya diganti jadi yang pake django -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}">

	<title>Iqbal Hazairin's</title>
</head>
<body>

	{% if type == "homepage" %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-color-red fixed-top">
	    <a class="navbar-brand" href="#"><img src="{% static 'home/images/logogw.png' %}" alt="gambarnya masih di folder tugas" id="logo"></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	   		<span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
			    <li class="nav-item active">
			    	<a class="nav-link" href="#">home<span class="sr-only">(current)</span></a>
			    </li>
			    <li class="nav-item dropdown active">
			    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          menu
			    	</a>
				    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				    	<a class="dropdown-item" href="{% url 'home:facts' %}">My Facts</a>
				    	<a class="dropdown-item" href="{% url 'Story:index' %}">Story 1</a>
				    	<a class="dropdown-item" href="{% url 'Story5:courses' %}">Courses</a>
				    	<a class="dropdown-item" href="{% url 'Story6:activities' %}">My Activities</a>
				    </div>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#journey">my journey</a>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#exp">experience</a>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#skills">skills</a>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#contact">contact me</a>
			    </li>
		    </ul>
	  	</div>
	</nav>

	{% elif type == "facts" %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-color-red fixed-top">
	    <a class="navbar-brand" href=""><img src="{% static 'home/images/logogw.png' %}" alt="gambarnya masih di folder tugas" id="logo"></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	   		<span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
			    <li class="nav-item active">
			    	<a class="nav-link" href="{% url 'home:index' %}">home<span class="sr-only">(current)</span></a>
			    </li>
			    <li class="nav-item dropdown active">
			    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          menu
			    	</a>
			    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				    <a class="dropdown-item" href="#">My Facts</a>
				    <a class="dropdown-item" href="{% url 'Story:index' %}">Story 1</a>
				    <a class="dropdown-item" href="{% url 'Story5:courses' %}">Courses</a>
				    <a class="dropdown-item" href="{% url 'Story6:activities' %}">My Activities</a>
			    </div>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#contact">contact me</a>
			    </li>
		    </ul>
	  	</div>
	</nav>

	{% elif type == "Story" %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-color-red sticky-top">
	    <a class="navbar-brand" href=""><img src="{% static 'home/images/logogw.png' %}" alt="gambarnya masih di folder tugas" id="logo"></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	   		<span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
			    <li class="nav-item active">
			    	<a class="nav-link" href="{% url 'home:index' %}">home<span class="sr-only">(current)</span></a>
			    </li>
			    <li class="nav-item dropdown active">
			    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          menu
			    	</a>
			    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				    <a class="dropdown-item" href="{% url 'home:facts' %}">my facts</a>
				    <a class="dropdown-item" href="#">Story 1</a>
				    <a class="dropdown-item" href="{% url 'Story5:courses' %}">Courses</a>
				    <a class="dropdown-item" href="{% url 'Story6:activities' %}">My Activities</a>
			    </div>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#contact">contact me</a>
			    </li>
		    </ul>
	  	</div>
	</nav>

	{% else %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-color-red sticky-top">
	    <a class="navbar-brand" href=""><img src="{% static 'home/images/logogw.png' %}" alt="gambarnya masih di folder tugas" id="logo"></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	   		<span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
			    <li class="nav-item active">
			    	<a class="nav-link" href="{% url 'home:index' %}">home<span class="sr-only">(current)</span></a>
			    </li>
			    <li class="nav-item dropdown active">
			    	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          menu
			    	</a>
			    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				    <a class="dropdown-item" href="{% url 'home:facts' %}">my facts</a>
				    <a class="dropdown-item" href="{% url 'Story:index' %}">Story 1</a>
				    <a class="dropdown-item" href="{% url 'Story5:courses' %}">Courses</a>
				    <a class="dropdown-item" href="{% url 'Story6:activities' %}">My Activities</a>
			    </div>
			    </li>
			    <li class="nav-item active">
			    	<a class="nav-link" href="#contact">contact me</a>
			    </li>
		    </ul>
	  	</div>
	</nav>
	{% endif %}

	{% block content %}
	{% endblock %}


	<footer id="contact">
		<div class="row">
			<div class="col-sm-6">
				<p>contact me on</p>
			</div>
			<div class="col-sm-6">
				<a href="https://twitter.com/ediwhz"><img src="{% static 'home/images/twitterlogo.png' %}" class="contact-img"></a>
				<a href="https://www.instagram.com/e___diw/"><img src="{% static 'home/images/iglogo.png' %}" class="contact-img"></a>
				<a href="https://www.linkedin.com/in/alif-iqbal-hazairin-302645156/"><img src="{% static 'home/images/LinkedIn-Logo-02.png' %}" class="contact-img"></a>
			</div>
		</div>
		<div class="row">
			<span class="col">
				<p id="copyright">Copyright &#169; 2020 Alif I Hazairin</p>
			</span>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'home/scripts/script.js' %}"></script>
</body>
</html>