{% extends "home/base.html" %}
{% block content %}
{% load static %}

    <div class="fact-section container-fluid bg-color-bisque">
        <h1 class="text-center" id="fact-sect-title">Facts About Me</h1>
        <ul>
            <li>
                <div class="fact-box">
                    <div class="facts">
                        <p class="fact-text">19 years old at the moment.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="fact-box">
                    <div class="facts">
                        <p class="fact-text">Born and live in Jakarta.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="fact-box">
                    <div class="facts">
                        <p class="fact-text">Listen to many music genres, such as rock, hip hop, pop, 
                            classic, sometimes dangdut, and currently listening to classical rock. 
                            Yeah, like Beethoven but played by MCR.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="fact-box">
                    <div class="facts">
                        <p class="fact-text">I was a competitor in National Science Olympiad in Earth Science
                            field.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="fact-box" id="question-3">
                    <div class="facts">
                        <p class="fact-text">Attack on Titan fan but also watch JoJo"s Bizarre Adventure.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}