{% extends "home/base.html" %}
{% block content %}
{% load static %}

	<!-- Jumbotron -->
	<div class="jumbotron-fluid" id="jumbotron-margin">
	  	<div class="container-fluid bg-color-red">
	  		<div class="row">
	  			<div class="col-sm-7">
	    			<h1 class="ml-5" id="greetings">Hello there!</h1>
	    			<a href="https://www.youtube.com/watch?v=rEq1Z0bjdwc" target="_blank" class="custom-font" id="easteregg">&#40; general kenobi &#41;</a>
	    		</div>
	    		<div class="col-sm-5">
	    			<img src="{% static 'home/images/potrait1.png' %}" alt="gambarnya masih di folder tugas" id="frontphoto">
	    			<img src="{% static 'home/images/potrait1solid.png' %}" class="photo-shadow" id="frontphoto-shade">
	    			<img src="{% static 'home/images/potrait1solido75.png' %}" class="photo-shadow" id="frontphoto-shade2">
	    			<img src="{% static 'home/images/potrait1solido50.png' %}" class="photo-shadow" id="frontphoto-shade3">
	    		</div>
	    	</div>
	  	</div>
	</div>
	
	<!-- Desc -->
	<div class="desc-section container-fluid bg-color-bisque" id="about-me">
		<div class="row">
			<p class="desc-text">I'm Alif Iqbal Hazairin. You can call me Iqbal, but some of my friends call me Ediw. I'm currently studying programming and coding stuff in Faculty of Computer Science, University of Indonesia.
				<br>
			I love listening to music and have a lot of future plans, yet i'm still striving to be the best version of myself. Please, have a look at my web :)</p>
		</div>
	</div>

	<!-- Journey -->
	<div class="journey-section container-fluid bg-color-red" id="journey">
		<h1 class="text-center" id="journey-sect-title">My Journey</h1>
		<ul>
			<li>
				<div class="stack-box" id="sahid-cover">
					<img src="{% static 'home/images/logosahid.png' %}" class="journey-img">
					<p class="journey-text">MTs Sahid International Islamic Boarding School</p>
				</div>
			</li>
			<li>
				<div class="stack-box" id="ic-cover">
					<img src="{% static 'home/images/logoicremovebg.png' %}" class="journey-img">
					<p class="journey-text">MAN Insan Cendekia Serpong</p>
				</div>
			</li>
			<li>
				<div class="stack-box" id="ui-cover">
					<img src="{% static 'home/images/makarapacil.png' %}" class="journey-img">
					<p class="journey-text">Faculty of Computer Science, University of Indonesia</p>
				</div>
			</li>
		</ul>
	</div>

	<!-- Experience -->
	<section class="exp-section container-fluid bg-color-bisque" id="exp">
		<h1 class="text-center" id="exp-sect-title">Experiences</h1>
		<ul>
			<li>
				<div class="stack-box" id="exp-img-1">
					<p class="exp-text">Staff of logistics division Pemira Fasilkom 2019</p>
				</div>
			</li>
			<li>
				<div class="stack-box" id="exp-img-2">
					<p class="exp-text">Staff of consumption division Wisuda Ganjil 2019</p>
				</div>
			</li>
			<li>
				<div class="stack-box" id="exp-img-3">
					<p class="exp-text">Head of Mushala Prosperity Department FUKI Fasilkom 2020</p>
				</div>
			</li>
		</ul>
	</section>

	<!-- Skills -->
	<div class="skills-section container-fluid bg-color-red" id="skills">
		<h1 class="text-center" id="skills-sect-title">Skills</h1>
		<div class="row d-flex justify-content-center align-items-center" id="skills-container">
			<div class="col-sm-3">
				<img src="{% static 'home/images/pythonlogo.png' %}" class="skills-img">
				<p class="skills-text">Python</p>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'home/images/javalogo.png' %}" class="skills-img">
				<p class="skills-text">Java</p>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'home/images/htmllogo.png' %}" class="skills-img">
				<p class="skills-text">HTML</p>
			</div>
			<div class="col-sm-3">
				<img src="{% static 'home/images/csslogo.png' %}" class="skills-img">
				<p class="skills-text">CSS</p>
			</div>
		</div>
	</div>


{% endblock %}
