{% extends "home/base.html" %}
{% block content %}
{% load static %}

<div style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
	<img src="{% static 'home/images/Iqbal_formal3.jpg' %}" style="width: 20%" alt="Foto gw kok gak ngeload sih">
	<h2>Biodata</h2>
	<p>Nama: Alif Iqbal Hazairin</p>
	<p>Jurusan: Ilmu Komputer</p>
	<p>NPM: 1906398282</p>
	<p>Angkatan: 2019</p>
	<p>Hobi: Nonton youtube</p>
	<p>Deskripsi: Cuma mahasiswa biasa</p>
	<hr>
	<h2>Riwayat Pendidikan</h2>
	<table border="1" cellpadding="5" cellspacing="0">
		<tr>
			<th align="left">SD</th>
			<td>SDN 04 Ujung Menteng Jakarta Timur</td>
			<td>2007-2013</td>
		</tr>
		<tr>
			<th align="left">SMP</th>
			<td>MTs Pondok Pesantren Modern Sahid</td>
			<td>2013-2016</td>
		</tr>
		<tr>
			<th align="left">SMA</th>
			<td>MAN Insan Cendekia Serpong</td>
			<td>2016-2019</td>
		</tr>
		<tr>
			<th align="left">Perguruan Tinggi</th>
			<td>Fakultas Ilmu Komputer Universitas Indonesia</td>
			<td>2019-Sekarang</td>
		</tr>
	</table>
</div>	
{% endblock %}