/* 
 * this is a custom modification of booststrap.css
 */

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
}

p, a, h1, h2, h3, h4, h5, h6 {
 	font-family: "Ubuntu", sans-serif;
}

#easteregg {
	font-size: 6px;
	color: red;
	margin-left: 340px;
	margin-top: -20px;
	opacity: 0;
	transform: translate(0, 20px);
	transition: .5s;
	position: relative;
}

#greetings {
	text-align: center;
	margin-top: 180px;
	color: white;
	font-size: calc(40px + 4vw);
	text-shadow: 5px 5px #8a795d;
	opacity: 0;
	transform: translate(0, 40px);
	transition: .5s;
}

#frontphoto {
	width: 60%;
	height: auto;
	opacity: 0;
	position: relative;
	left: 40px;
	transform: translate(0, 40px);
	transition: .5s;
	z-index: 5;
}

.photo-shadow {
	width: 60%;
	height: auto;
	opacity: 0;
	position: absolute;
	left: 80px;
	transform: translate(0, 40px);
	transition: .75s;
	z-index: 3;
}

#frontphoto-shade2 {
	left: 120px;
	transition: 1s;
	z-index: 2;
}

#frontphoto-shade3 {
	left: 160px;
	transition: 1.25s;
	z-index: 1;
}

#greetings.parallax-items, #easteregg.parallax-items,
#frontphoto.parallax-items, .photo-shadow.parallax-items {
	opacity: 1;
	transform: translate(0, 0);
}

.bg-color-red {
	background-color: #d81029;
}

.bg-color-bisque {
	background-color: #fadfad;
}

.bg-color-dark-blue {
	background-color: #07064f;
}

.desc-section {
	z-index: 100;
}

.desc-text {
	font-size: 25px;
	text-align: center;
	word-spacing: 3px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	padding-bottom: 20px;
	color: #d81029;
}


/* Dibawah ini fungsinya gatau buat apa
 * karena fiturnya dah dihapus, siapa tau
 * berguna :)
 */

/* Dropdown Button */
.dropbtn {
  background-color: #d81029;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #F37E12;}

/* Sampe sini nih yang kayanya ga kepake*/


#logo {
	width: 75%;
	height: auto;
	padding-left: 25px;
}

#jumbotron-margin {
	margin-top: 60px;
}

.journey-img {
  	display: inline;
   	height: 150px;
   	width: 120px;
  	height: auto;
  	box-sizing: border-box;
  	margin-left: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
}

#journey-sect-title, #exp-sect-title, #skills-sect-title,
#fact-sect-title, #course-sect-title {
	font-size: 45px;
	padding-bottom: 30px;
	padding-top: 20px;
	color: white;
	text-shadow: 4px 4px #8a795d;
}

#exp-sect-title, #fact-sect-title {
	color: #F37E12;
}


.journey-text {
	font-size: 20px;
	font-weight: bold;	
}

.journey-section, .fact-section {
	padding-bottom: 30px;
}

.fact-section {
	position: relative;
	padding-top: 50px;
}

.stackable {
	position: absolute;
	display: block;
  	width: 500px;
  	height: auto;
  	left: 380px;
}

.stackable div>img {
	z-index: 4;

}

.stack-box, .fact-box {
	background-color: white;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 75vw;
	height: 120px;
	min-width: 100px;
	top: 30px;
	z-index: 0;
	border-radius: 25px;
	display: flex;
	justify-content: flex-start;
}

.fact-box {
	height: 70px;
}

.journey-text {
	text-align: left;
	font-size: 23px;
	color: white;
	margin-top: 50px;
	left: 40%;
}

.exp-text {
	position: relative;
	text-align: left;
	font-size: 23px; 
	color: white;
	margin-top: 50px;
	left: 10%;
}

.fact-text {
	color: #0F273E;
	left: 10%;
}

#skills-container {
	padding-bottom: 40px;
}

.skills-img {
	height: 150px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding-top: 20px;
}

.skills-text {
	font-size: 25px;
	color: white;
	text-align: center;
}

#sahid-cover {
	background-image: url(../images/taman-sahid-jaya-2.jpg);
}

#ic-cover {
	background-image: url(../images/gedungic1.jpg);
}

#ui-cover {
	background-image: url(../images/ui-hd.jpg);
}

#exp-img-1 {
	background-image: url(../images/gambarkerja.jpg);
}

#exp-img-2 {
	background-image: url(../images/gambarcatering.jpg);
}

#exp-img-3 {
	background-image: url(../images/gambarlepi.jpg);
}
#sahid-cover, #ic-cover, #ui-cover,
#exp-img-1, #exp-img-2, #exp-img-3 {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.exp-section {
	padding-bottom: 30px;

}

footer {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #0F273E;
	justify-content: space-between;
}

footer p {
	color: white;
	text-align: right;
	padding-top: 11.5px;
	padding-right: 20px;
}

footer .col-sm-6 {
	height: 30px;
}

#copyright {
	text-align: center;
	font-family: "georgia", serif;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

.contact-img {
	padding-top: 10px;
	width: 30px;
	height: auto;
	display: inline;
	margin-right: 10px;
}


@media (max-width: 768px) {
	.stack-box p {
		font-size: 18px;
	}
	#exp-text {

	}
	footer div div {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	footer div div p {
		text-align: center;
	}
}