#activity-input {
	margin-left: auto;
	margin-right: auto;

}

.bg-color-bisque {
	display: flex;
	flex-direction: column;
}

.del-act-button {

}

#activities-sect-title {
	font-size: 45px;
	padding-bottom: 30px;
	padding-top: 20px;
	color: #F37E12;
	text-shadow: 4px 4px #8a795d;
}

.activity-container {
	min-width: 200px !important;
}