{% extends "home/base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid bg-color-bisque">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="..">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">Description</li>
    </ol>
  </nav>
  <h2>Course Details</h2>
  <table class="table" style="text-align: left;">
      <tbody>
          <tr>
              <th scope="row">Name</th>
              <td>{{ desc.courseName }}</td>
          </tr>
          <tr>
              <th scope="row">Lecturer</th>
              <td>{{ desc.lecturer }}</td>
          </tr>
          <tr>
              <th scope="row">Credit</th>
              <td>{{ desc.credit }}</td>
          </tr>
          <tr>
              <th scope="row">Semester</th>
              <td>{{ desc.semester }}</td>
          </tr>
        </tbody>
  </table>
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
    Delete
  </button>

<!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You are about to delete {{ desc.courseName }}. Press proceed to continue deleting.</p> </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <form action="{% url 'Story5:delete' desc.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Proceed</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}