{% extends "home/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

<div class="container-fluid bg-color-red course-sect">
	<h1 class="text-center" id="course-sect-title">Courses</h1>
	<nav aria-label="breadcrumb" style="background-color: #d81029;">
	  	<ol class="breadcrumb">
	    	<li class="breadcrumb-item active" aria-current="page">Courses</li>
	  	</ol>
	</nav>
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<h4 class="text-left">My Courses</h4>
			<div class="container">
				<ul class="list-group list-group-flush">

				  	{% for course in courses %}

					  	<li class="list-group-item" style="background-color: #d81029">
					  		<a href="description/{{ course.id }}" id="course-link">{{ course.courseName }}</a>
					  	</li>
				  	
				  	{% endfor %}
				  	
				</ul>
				<a type="button" class="btn btn-light" href="{% url 'Story5:form' %}">Add</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}