{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid bg-color-red">
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
      <button type="submit" class="btn btn-light">Submit</button>
      <a type="button" class="btn btn-default" href="{% url 'Story5:courses' %}">Cancel</a>
  </form>
</div>
{% endblock %}