{% extends "home/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}">

<div class="container-fluid bg-color-bisque">
  <h1 class="text-center" id="activities-sect-title">Activities</h1>
  <div class="row" id="activity-input">
    <div class="col3"></div>
    <div class="col6">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center">Add Activity</h3>
          <form action="{% url 'Story6:addActivity' %}" method="POST">
            {% csrf_token %}
            <div class="col-form-labelgroup">
              {{activity_form.name}}
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    {% for activity in activities %}

    <div class="col-12 col-lg-6 d-flex align-item-stretch justify-content-center activity-container">
      <div class="card">
        <div class="card-header">
          <h3 style="display: inline;">{{ activity.name }}</h3>
          <form action="{% url 'Story6:deleteActivity' activity.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
        <ul class="list-group list-group-flush">
            
          {% for orang in person %}

            {% if orang.activity.id == activity.id %}

            <li class="list-group-item">
              <p>{{orang.activity.id}}</p>
              <p>{{activity.id}}</p>
              <!-- <p>{{ orang.name }}</p> -->
            </li>

            {% endif %}

          {% endfor %}

        </ul>
        <!-- button trigger modal -->
        <form action="{% url 'Story6:addPerson' activity.id %}" method="POST">
            {% csrf_token %}
            {{ person_form.name }}
            <input type="select" name="activity" value="{activity.id}" hidden>
          <button type="submit" class="btn btn-light">Add</button>
        </form>
      </div>
    </div>
  {% endfor %}
  </div>
  <!-- modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <form action="addPerson/{{activity.id}}" method="POST">
            <div class="form-group">
              {% csrf_token %}
              <label for="recipient-name" class="col-form-label">Enter Name</label>
              {{ person_form.name }}
            </div>
          
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div> -->

      

  </div>
</div>
{% endblock %}